#errorMessage {
    color : red;
}

.centered{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.horizGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.pos-fix{
    position: sticky!important;
    z-index: 999;
    top: 0;
    right: 0;
}